__pycache__/
*.py[cod]
*$py.class
venv/
.env/
.venv/
env/
pip-log.txt
pip-delete-this-directory.txt
poetry.lock
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.ipynb_checkpoints
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
*.cover
*.py,cover
logs/
*.log
.DS_Store
.vscode/
.idea/
*.iml
.dockerignore
*.sqlite3
*.db
.envrc
.env.local
.env.production
.env.test
celerybeat-schedule
celerybeat.pid
*.swp
*.swo
*.bak
*.orig
.aws/
.env